{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}

<ul
  class="site-nav site-navigation small--hide">
  {%- for link in main_menu.links limit: limit offset: offset -%}
    {%- liquid
      assign has_dropdown = false
      if link.links != blank
        assign has_dropdown = true
      endif
    -%}

    <li
      class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% unless template == 'index' %}{% if link.active %} site-nav--active{% endif %}{% endunless %}"
      {% if has_dropdown %}aria-haspopup="true"{% endif %}>

      <a href="{{ link.url }}" class="site-nav__link{% if has_dropdown %} site-nav__link--has-dropdown{% endif %} {% if link.title contains 'En' %} site-nav__has-language english {% if shop.locale == 'en' %} active__{{shop.locale}} {% endif %}{% endif %} {% if link.title contains 'Da' %} site-nav__has-language danish {% endif %}{% if shop.locale == 'da' %} active__{{shop.locale}} {% endif %}">
        {{ link.title }}
      </a>
      {%- if has_dropdown -%}
        <ul class="site-nav__dropdown text-left">
          {%- for childlink in link.links -%}
            {%- liquid
              assign has_sub_dropdown = false
              if childlink.links != blank
                assign has_sub_dropdown = true
              endif
            -%}

            <li class="{% if childlink.active %}site-nav--active{% endif %}{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
              <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level{% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                {{ childlink.title | escape }}
                {%- if has_sub_dropdown -%}
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
                {%- endif -%}
              </a>
              {%- if has_sub_dropdown -%}
                <ul class="site-nav__deep-dropdown">
                  {%- for grandchildlink in childlink.links -%}
                    <li>
                      <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
                        {{ grandchildlink.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
<style>
  .site-nav__item .site-nav__has-language {
    padding:7.5px  5px;
    color: transparent !important;
}
.site-nav__item .site-nav__has-language.english::after{
  content:'';
  position: absolute;
  top:50%;
  left:50%;
  background: url('https://cdn.shopify.com/s/files/1/0627/1234/8917/files/gb.svg?v=1662731142');
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: block;
  transform: translate(-50%,-50%);
}
.site-nav__item .site-nav__has-language.english.active__en::after{
  box-shadow: 0 0 0 2px var(--colorCartDot);
}
.site-nav__item .site-nav__has-language.danish::after{
  content:'';
  position: absolute;
  top:50%;
  left:50%;
  background: url('https://cdn.shopify.com/s/files/1/0627/1234/8917/files/dk.svg?v=1662731143');
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: block;
  transform: translate(-50%,-50%);
}
.site-nav__item .site-nav__has-language.danish.active__da::after{
  box-shadow: 0 0 0 2px var(--colorCartDot);
}
</style>